.container{
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    
    justify-content: center;
}

.cart{
    padding:10px;
    width:650px;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#added-products{
    display: flex;
    justify-content: space-between;
}