<div class="container">

    <div class="cart">
        <div style="display: flex; justify-content: space-between;">
            <h3>Shoe Cart</h3>
            <a href="#" (click)="removeAll()">Remove All</a>
        </div>

        <div *ngFor="let item of addedProducts" id="added-products">
                <img src={{item.image}} width="100">
                <h3>{{item.name}}</h3>
                <h4>Rs: {{item.price}}</h4>
                
        </div>
        <hr>
        <h2 style="text-align: right;" (click)="subTotal()">Subtotal</h2>
    </div>
   

</div>
